.btn {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}
.btn.btn-s {
  padding: 5px 16px;
}
.btn.btn-m {
  padding: 9px 16px;
  background-color: #040815;
}
.btn.btn-l {
  padding: 16px 24px;
}
.btn.btn-primory {
  color: white;
  background-color: red;
}
.btn.btn-primory:focus {
  border: 1px solid #cebefe;
}
.btn.btn-primory:disabled {
  opacity: 0.4;
}
.btn.btn-secondary {
  border-color: rgb(26, 1, 1);
  border-radius: 4px;
  background-color: #0a196f;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 25px;
}
.container .main_flex {
  display: flex;
  justify-content: flex-end;
}
.container .main_footer_logo {
  text-decoration: none;
}
.container .list_style {
  list-style: none;
  color: #596780;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  gap: 15px;
}
.container .main_text {
  font-family: Arial, Helvetica, sans-serif;
  color: #596780;
}
.container .main_end {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}
.container .end_start {
  flex: auto;
}
.container .main_font_style {
  font-size: medium;
  font-family: serif;
}

.container {
  max-width: 1100px;
  margin: 0px auto;
  padding: 0px 10px;
}
.container .main_flex {
  display: flex;
  padding: 40px 0px;
}
.container .main_logo {
  text-decoration: none;
}
.container .main_right {
  margin-right: auto;
  margin-left: 45px;
  border: solid;
  border-radius: 70px;
  padding: 2px;
}
.container .main_line {
  display: flex;
  justify-content: space-between;
}
.container .img_height {
  height: 18px;
  border: none;
}
.container .filter_right {
  min-width: 350px;
  border: none;
}
.container .none_border {
  border: none;
  background-color: transparent;
}
.container .main_filter {
  margin-right: 40px;
}
.container .main_list_center {
  padding: 0px 50px;
  font-family: serif;
}
.container .flex_line {
  display: flex;
}
.container .header_line {
  display: flex;
  justify-content: end;
}
.container .header_line_right {
  flex: auto;
}
.container .main_hight {
  height: 85px;
  display: flex;
  margin: auto;
}
.container .backgraund_two {
  background-color: #0a196f;
  border-radius: 10px;
}
.container .backgraund_one {
  background-color: #54a6ff;
  border-radius: 10px;
}
.container .main_text_color {
  color: white;
  padding: 15px 45px;
}
.container .main_juj {
  display: flex;
}
.container .border_none {
  border-radius: 30px;
  border: none;
  background: transparent;
}
.container .cart_img {
  height: 70px;
}
.container .main_card {
  display: flex;
  gap: 10px;
}
.container .card_width {
  height: 25px;
}
.container .cart_end {
  display: flex;
  justify-content: space-between;
}
.container .cart_color {
  color: #90a3bf;
}
.container .btn.btn-secondary {
  background-color: #2a60b7;
  display: flex;
}
.container .cart_heart {
  height: 24px;
}
.container .another_type {
  padding: 16px 0px;
  color: #90a3bf;
}
.container .info {
  display: flex;
  gap: 10px;
  padding: 20px 0px;
}
.container .actions_info {
  display: flex;
  align-items: center;
}
.container .page_backgraund {
  color: #1a202c;
}
.container .mob_version {
  display: flex;
  display: none;
}
@media screen and (max-width: 768px) {
  .container .header_right {
    display: none;
  }
  .container .header__actions {
    display: none;
  }
  .container .main_right {
    display: none;
  }
  .container .mob_version {
    display: flex;
  }
}
.container .carts_backgraund {
  border-radius: 17px;
  padding: 10px 15px;
  background-color: #e0e9f4;
}
.container .more_info {
  display: flex;
  justify-content: center;
  margin: 40px;
}/*# sourceMappingURL=style.css.map */