.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 10px;

    .main_flex {
        display: flex;
        padding: 40px 0px;
    }

    .main_logo {
        text-decoration: none;
    }
    
    .main_right {
        margin-right: auto;
        margin-left: 45px;
        border: solid;
        border-radius: 70px;
        padding: 6px;
    }
    
    .img_height {
        height:18px;
        border: none;
        
        
    }

    .filter_right {
        min-width: 350px;
        border: none;
        
    
        }


        .none_border {
            border: none;
        }
    
    .main_filter {
        margin-right: 40px;
    }

    .main_list_center {
        padding: 0px 50px;
        font-family: serif;
    }

    .flex_line {
        display: flex;
     
    }

    .header_line {
        display: flex;
    justify-content: end;
    }
    
     
    .header_line_right {
        flex: auto;
    }

    
     .main_hight {
        height: 85px;
     }

     .backgraund_two {
        background-color: $primory-500;
     }

     .backgraund_one {
        background-color: $information-500;
     }

     .main_text_color {
        color: white;
        padding: 15px 45px;
     }

     .main_line {
        display: flex;
        justify-content: space-between;
     }

     
   }
  

   
   
   
 
   
 