.container {
  max-width: 1100px;
  margin: 0px auto;
  padding: 0px 10px;

  .main_flex {
    display: flex;
    padding: 40px 0px;
  }

  .main_logo {
    text-decoration: none;
  }

  .main_right {
    margin-right: auto;
    margin-left: 45px;
    border: solid;
    border-radius: 70px;
    padding: 2px;
  }

  .main_line {
    display: flex;
    justify-content: space-between;
  }

  .img_height {
    height: 18px;
    border: none;
  }

  .filter_right {
    min-width: 350px;
    border: none;
  }

  .none_border {
    border: none;
    background-color: transparent;
  }

  .main_filter {
    margin-right: 40px;
  }

  .main_list_center {
    padding: 0px 50px;
    font-family: serif;
  }

  .flex_line {
    display: flex;
  }

  .header_line {
    display: flex;
    justify-content: end;
  }

  .header_line_right {
    flex: auto;
  }

  .main_hight {
    height: 85px;
    display: flex;
    margin: auto;
  }

  .backgraund_two {
    background-color: $primory-500;
    border-radius: 10px;
  }

  .backgraund_one {
    background-color: $information-500;
    border-radius: 10px;
  }

  .main_text_color {
    color: white;
    padding: 15px 45px;
  }

  .select_info {
    display: flex;
  }

  .border_none {
    border-radius: 30px;
    border: none;
    background: transparent;
  }

  .cart_img {
    height: 59px;
    margin-top: 48px;
    margin-bottom: 48px;
    display: flex;
  }

  .main_card {
    display: flex;
    gap: 7px;
    justify-content: space-around;
  }

  .img-center {
    display: flex;
    justify-content: center;
  }

  .card_width {
    height: 19px;
  }

  .main_flip {
    margin-top: 20px;
  }

  .cart_end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .static_price{
    margin-bottom: 4px;
  }

  .next_price {
    font-size: 14px;
  }

  .main_price {
    height: 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .cart_color {
    color: $secondary-300;
    // margin-bottom: 64px;
    font-size: small;
  }

  .btn {
    &.btn-info {
      background-color: $primory-300;
      color: aliceblue;
      padding: 20px;
      margin-top: 35px;
    }
  }

  .chapter-view {
    color: $primory-300;
    font-size: large;
  }

  .main-input {
    display: flex;
    gap: 8px;
    align-items: baseline;
    margin-top: 30px;
  }

  .info-backgraund {
    background-color: $secondary-300;
  }

  .main-chapter {
    margin: 30px 0px;
    color: $secondary-300;
    display: flex;
    justify-content: space-between;
    font-size: large;
  }

  .col-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .btn {
  //  &.btn-secondary {
  //     background-color: $information-700;
  //     display: flex;

  //   }
  // }

  .cart_heart {
    height: 2px;
  }

  .another_type {
    padding: 16px 0px;
    color: $secondary-300;
  }

  .info {
    display: flex;
    gap: 10px;
    padding: 20px 0px;
  }

  .actions_info {
    display: flex;
    align-items: center;
  }

  .page_backgraund {
    color: $secondary-500;
  }

  .mob_version {
    display: flex;
    display: none;
  }

  @media screen and (max-width: 768px) {
    .header_right {
      display: none;
    }
    .header__actions {
      display: none;
    }

    .main_right {
      display: none;
    }

    .mob_version {
      display: flex;
    }
  }

  .carts_backgraund {
    border-radius: 16px;
    padding: 10px 10px;
    background-color: $secondary-100;
  }

  .more_info {
    display: flex;
    margin: 40px;
    justify-content: flex-end;
  }

  .choose_date {
    background-color: $secondary-100;
    border-radius: 10px;
    margin-top: 28px;
  }

  .main_button_primory {
    display: flex;
    margin: auto;
  }
}
